dashboard/flows.json
[
    {
        "id": "0fb6c417c00b04d3",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa1eca0f6f413759",
        "type": "mqtt-broker",
        "name": "Gomoku MQTT Broker",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f12ed280f0f67996",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6f36d4f9b8b3080c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0ed992769374b190",
        "type": "ui_group",
        "name": "Game Status",
        "tab": "f12ed280f0f67996",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b301a6c6054650d",
        "type": "ui_group",
        "name": "Gomoku Board",
        "tab": "f12ed280f0f67996",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22822d46f84977a1",
        "type": "ui_group",
        "name": "Move History",
        "tab": "f12ed280f0f67996",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2eb23a759983b39",
        "type": "mqtt in",
        "z": "0fb6c417c00b04d3",
        "name": "mqtt in",
        "topic": "gomoku/move",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa1eca0f6f413759",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "660535bef48fa09c"
            ]
        ]
    },
    {
        "id": "660535bef48fa09c",
        "type": "json",
        "z": "0fb6c417c00b04d3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "2d0385a7f7e5ef8a",
                "1dfa9277613bb38d",
                "0910525b53d51de3",
                "1e999f8c13397435",
                "4aaa3e7fc681a9ba"
            ]
        ]
    },
    {
        "id": "2d0385a7f7e5ef8a",
        "type": "function",
        "z": "0fb6c417c00b04d3",
        "name": "function player",
        "func": "msg.payload = msg.payload.player;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "69c949219f014da0"
            ]
        ]
    },
    {
        "id": "69c949219f014da0",
        "type": "ui_text",
        "z": "0fb6c417c00b04d3",
        "group": "0ed992769374b190",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Player",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "1dfa9277613bb38d",
        "type": "function",
        "z": "0fb6c417c00b04d3",
        "name": "function step",
        "func": "msg.payload = msg.payload.move_number;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "aed7976ee3aed12c"
            ]
        ]
    },
    {
        "id": "aed7976ee3aed12c",
        "type": "ui_text",
        "z": "0fb6c417c00b04d3",
        "group": "0ed992769374b190",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "step",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "0910525b53d51de3",
        "type": "function",
        "z": "0fb6c417c00b04d3",
        "name": "function position",
        "func": "msg.payload = \"Row \" + msg.payload.row + \", Col \" + msg.payload.column;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            [
                "6ff91391fbe8ee72"
            ]
        ]
    },
    {
        "id": "6ff91391fbe8ee72",
        "type": "ui_text",
        "z": "0fb6c417c00b04d3",
        "group": "0ed992769374b190",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 460,
        "wires": []
    },
    {
        "id": "1e999f8c13397435",
        "type": "function",
        "z": "0fb6c417c00b04d3",
        "name": "Gomoku Board",
        "func": "let stones = flow.get(\"stones\") || [];\n\nlet row = Number(msg.payload.row);\nlet col = Number(msg.payload.column);\nlet player = String(msg.payload.player).trim().toLowerCase();\nlet moveNumber = Number(msg.payload.move_number);\n\nif (row >= 1 && row <= 15 && col >= 1 && col <= 15) {\n    stones = stones.filter(s => !(s.row === row && s.col === col));\n\n    stones.push({\n        row: row,\n        col: col,\n        player: player,\n        move_number: moveNumber\n    });\n}\n\nflow.set(\"stones\", stones);\n\n\n// -----------------------------\n// Winner detection\n// -----------------------------\nfunction checkWinner(stones) {\n    const directions = [\n        [0, 1],   // horizontal\n        [1, 0],   // vertical\n        [1, 1],   // diagonal down-right\n        [1, -1]   // diagonal down-left\n    ];\n\n    const stoneSet = new Set();\n\n    for (let s of stones) {\n        stoneSet.add(`${s.player}-${s.row}-${s.col}`);\n    }\n\n    for (let s of stones) {\n        for (let [dr, dc] of directions) {\n            let count = 1;\n\n            // forward direction\n            let r = s.row + dr;\n            let c = s.col + dc;\n\n            while (stoneSet.has(`${s.player}-${r}-${c}`)) {\n                count++;\n                r += dr;\n                c += dc;\n            }\n\n            // backward direction\n            r = s.row - dr;\n            c = s.col - dc;\n\n            while (stoneSet.has(`${s.player}-${r}-${c}`)) {\n                count++;\n                r -= dr;\n                c -= dc;\n            }\n\n            if (count >= 5) {\n                return s.player;\n            }\n        }\n    }\n\n    return null;\n}\n\nlet winner = checkWinner(stones);\n\nnode.status({\n    fill: winner ? \"red\" : \"green\",\n    shape: \"dot\",\n    text: winner ? \"winner: \" + winner : \"stones: \" + stones.length\n});\n\n\n// Output 1: board\nlet boardMsg = {\n    payload: stones\n};\n\n// Output 2: winner text\nlet winnerMsg = {\n    payload: winner ? winner : \"No winner yet\"\n};\n\nreturn [boardMsg, winnerMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "18b5fc5996b94eef"
            ],
            [
                "77e9d13125cfe53d"
            ]
        ]
    },
    {
        "id": "18b5fc5996b94eef",
        "type": "ui_template",
        "z": "0fb6c417c00b04d3",
        "group": "7b301a6c6054650d",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .gomoku-wrapper {\n        width: 100%;\n        overflow: hidden;\n        padding: 10px;\n    }\n\n    .gomoku-board {\n        position: relative;\n        width: 330px;\n        height: 330px;\n        background-color: #d9a441;\n        border: 2px solid #5c3a00;\n        box-sizing: border-box;\n    }\n\n    .board-line {\n        position: absolute;\n        background: #5c3a00;\n    }\n\n    .horizontal {\n        height: 1px;\n        width: 252px;\n        left: 39px;\n    }\n\n    .vertical {\n        width: 1px;\n        height: 252px;\n        top: 39px;\n    }\n\n    .stone {\n        position: absolute;\n        width: 15px;\n        height: 15px;\n        border-radius: 50%;\n        transform: translate(-50%, -50%);\n        z-index: 10;\n    }\n\n    .black-stone {\n        background: black;\n    }\n\n    .white-stone {\n        background: white;\n        border: 1px solid black;\n    }\n</style>\n\n<div class=\"gomoku-wrapper\">\n    <div class=\"gomoku-board\">\n\n        <div ng-repeat=\"n in [].constructor(15) track by $index\" class=\"board-line horizontal\"\n            ng-style=\"{ top: (39 + $index * 18) + 'px' }\">\n        </div>\n\n        <div ng-repeat=\"n in [].constructor(15) track by $index\" class=\"board-line vertical\"\n            ng-style=\"{ left: (39 + $index * 18) + 'px' }\">\n        </div>\n\n        <div ng-repeat=\"stone in msg.payload track by $index\" class=\"stone\" ng-class=\"{\n                'black-stone': stone.player === 'black',\n                'white-stone': stone.player === 'white'\n             }\" ng-style=\"{\n                left: (39 + (stone.col - 1) * 18) + 'px',\n                top: (39 + (stone.row - 1) * 18) + 'px'\n             }\">\n        </div>\n\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4aaa3e7fc681a9ba",
        "type": "function",
        "z": "0fb6c417c00b04d3",
        "name": "history",
        "func": "let history = flow.get(\"history\") || [];\n\nhistory.push({\n    move: msg.payload.move_number,\n    player: msg.payload.player,\n    position: \"Row \" + msg.payload.row + \", Col \" + msg.payload.column\n});\n\nflow.set(\"history\", history);\n\nmsg.payload = history\n    .map(item => \n        \"Move \" + item.move + \": \" + item.player + \" at \" + item.position\n    )\n    .join(\"<br>\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 580,
        "wires": [
            [
                "78400b6dba5a7627"
            ]
        ]
    },
    {
        "id": "78400b6dba5a7627",
        "type": "ui_template",
        "z": "0fb6c417c00b04d3",
        "group": "22822d46f84977a1",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f8e11ce20e80a040",
        "type": "ui_button",
        "z": "0fb6c417c00b04d3",
        "name": "Reset Game",
        "group": "0ed992769374b190",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "fc0de2cc6c206759"
            ]
        ]
    },
    {
        "id": "fc0de2cc6c206759",
        "type": "function",
        "z": "0fb6c417c00b04d3",
        "name": "reset",
        "func": "flow.set(\"stones\", []);\nflow.set(\"history\", []);\nflow.set(\"board\", null);\n\nlet boardMsg = {\n    payload: []\n};\n\nlet historyMsg = {\n    payload: \"<b>Move History</b><br>No moves yet.\"\n};\n\nlet playerMsg = {\n    payload: \"-\"\n};\n\nlet stepMsg = {\n    payload: 0\n};\n\nlet positionMsg = {\n    payload: \"-\"\n};\n\nlet winnerMsg = {\n    payload: \"No winner yet\"\n};\n\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: \"game reset\"\n});\n\nreturn [\n    boardMsg,\n    historyMsg,\n    playerMsg,\n    stepMsg,\n    positionMsg,\n    winnerMsg\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 700,
        "wires": [
            [
                "18b5fc5996b94eef"
            ],
            [
                "78400b6dba5a7627"
            ],
            [
                "69c949219f014da0"
            ],
            [
                "aed7976ee3aed12c"
            ],
            [
                "6ff91391fbe8ee72"
            ],
            [
                "77e9d13125cfe53d"
            ]
        ]
    },
    {
        "id": "77e9d13125cfe53d",
        "type": "ui_text",
        "z": "0fb6c417c00b04d3",
        "group": "0ed992769374b190",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Winner",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "123e06202f7bc307",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
